<% if @dishes.any? %>
  <% @dishes.each do |dish| %>
  <h2> <%= dish.name %> <%= dish.price %> </h2>
  <% end %>
  <% else %>
  <h2> No dish added yet </h2>
<% end %>

<form action="/dishes/new" method="get">
  <input type="submit" value="Add a dish">
</form>
